# Ignorar arquivos de IDE (IntelliJ IDEA, NetBeans, Eclipse, VS Code)
*.iml
.idea/
.vscode/
.project
.classpath
.settings/
nbproject/private/

*.form
*.jar
*.war
*.ear
*.class
target/
bin/   



Thumbs.db 


*.log
logs/


*~
*.bak